.search-filter{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    .search-input{
      background-color: #f7f8fa;
      position: relative;
      width: calc(100% - 140px);
    }
    .search-icon{
      background-image: url(@/assets/images/search.png);
      background-size: cover;
      width: 40px;
      height: 40px;
      position: absolute;
      left: 20px;
      top: 50%;
      margin-top: -20px;
    }
    .input-fill{      
      width: 100%;
      height: 60px;
      background-color: #f7f8fa;
      border: none;
      margin-left: 60px;
      outline: none;
      &::placeholder{
        font-size: 24px;
        color: #aaa;
      }
    }
    .clear-search-name{
      background-image: url(@/assets/images/clear.png);
      background-size: cover;
      width: 30px;
      height: 30px;
      position: absolute;
      right: -40px;
      top: 50%;
      margin-top: -15px;
    }
    .search-button-title{
      font-size: 24px;
      color: #000;
      width: 60px;
      text-align: right;
    }
  }